<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouveau medecin</h2>
    <form [formGroup]="medecinForm" (ngSubmit)="onSaveMedecin()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          formControlName="nom"
        />
      </div>
      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input
          type="text"
          class="form-control"
          id="prenom"
          formControlName="prenom"
        />
      </div>
      <div class="form-group">
        <label for="status">Statut</label>
        <select class="form-control" id="status" formControlName="status">
          <option value="actif">actif</option>
          <option value="conge">En congé</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ville">Ville</label>
        <input
          type="text"
          class="form-control"
          id="ville"
          formControlName="ville"
        />
      </div>
      <button
        class="btn btn-success"
        [disabled]="medecinForm.invalid"
        type="submit"
      >
        Enregistrer
      </button>
    </form>
  </div>
</div>
